{% extends "dash/data.html" %}
{% import "forms/form_macros.jinja" as form %}

{% block content %}
<div class="ctrl-buttons">
{% if update_link is defined and is_allowed('update') %}
<a role="button" class="btn btn-primary btn-sm" href="{{update_link}}">Update Metadata</a>
{% endif %}

{% if data_type is defined
   and data_type != 'cdf_forecast'
   and can_create(data_type+'s')
   and ('site' in metadata or 'aggregate' in metadata)
%}
<a role="button" class="btn btn-primary btn-sm" href="{{url_for('forms.clone_'+data_type, uuid=uuid)}}">Clone Metadata</a>
{% endif %}

{% if delete_link is defined and is_allowed('delete') %}
<a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}
</div>
{% if plot is not none %}
<div class="row data-plots-wrapper">
{{ plot | safe }}
</div>
{% if bokeh_script is defined %}
{{ bokeh_script | safe }}
{% endif %}
{# Time widgets are used for either setting the bounds of the plot or download #}
{% include "data/timerange_widgets.html" %}
</div>
{% endif %}
{% if is_allowed('write_values') %}
<a role="button" class="collapser-button collapsed" data-toggle="collapse" data-target="#upload-block">Upload data</a>
<hr/>
<div id="upload-block" class="collapse border mb-3">
    {% if data_type == 'observation' %}
    {% include "forms/observation_upload_form.html" %}
    {% elif data_type == 'forecast' %}
    {% include "forms/forecast_upload_form.html" %}
    {% elif data_type == 'cdf_forecast' %}
    {% include "forms/cdf_forecast_upload_form.html" %}
    {% endif %}
</div>
{% endif %}

{% endblock %}
