{% extends "dash/data.html" %}
{% block content %}
{{ metadata | safe }}
<a type="button" class="btn btn-outline-primary btn-sm" href="{{upload_link}}">Upload data</a>
<div class="row data-plots-wrapper">
  <!-- Placeholders for bokeh plots -->
  <div class="plot-1 data-plot col-md-6 col-sm-12"><img class="data-plot-content" src="/static/images/oasis_1.png"></div>
  <div class="plot-2 data-plot col-md-6 col-sm-12"><img class="data-plot-content"src="/static/images/oasis_3.png"></div>
  <div class="plot-3 data-plot col-md-6 col-sm-12"><img class="data-plot-content"src="/static/images/oasis_2.png"></div>
</div>
{% endblock %}
