{% extends "dash/data.html" %}
{% import "forms/form_macros.jinja" as form %}
{% block extra_scripts %}
{% if metadata is defined %}
  <script>var metadata = JSON.parse('{{ metadata | tojson }}');</script>
{% endif %}
{% endblock %}
{% block content %}
{% if plot is not none %}
<div class="row data-plots-wrapper">
{{ plot | safe }}
</div>
{% if bokeh_script is defined %}
{{ bokeh_script | safe }}
{% endif %}
{# Time widgets are used for either setting the bounds of the plot or download #}
{% include "data/time_widgets.html" %}
</div>
{% endif %}
{% endblock %}
