{% extends "data/asset.html" %}
{% block content %}
<div class="ctrl-buttons">
{% if update_link is defined and is_allowed('update') %}
  <a role="button" class="btn btn-primary btn-sm" href="{{ update_link }}">Update</a>
{% endif %}
{% if can_create('cdf_forecasts') and ('site' in metadata or 'aggregate' in metadata) %}
<a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.clone_cdf_forecast_group', uuid=metadata['forecast_id'] ) }}">Clone Metadata</a>
{% endif %}
{% if delete_link is defined and is_allowed('delete') %}
  <a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}
</div>
{% if plot is defined %}
<div id="probabilistic-forecast-plot">
</div>
<script>
    Plotly.newPlot(
        'probabilistic-forecast-plot',
        JSON.parse('{{ plot | safe }}')
    )
</script>
{% if metadata['axis'] == 'y' %}
<p>For forecasts parameterized symmetrically around the 50th percentile, brighter colors indicate percentiles farther from the 50th percentile and darker colors indicate percentiles closer to the 50th percentile. For forecasts parameterized asymmetrically around the 50th percentile, brighter colors indicate smaller percentiles and darker colors indicate larger percentiles. Use the hover tool to determine the percentile.</p>
{% endif %}
{% endif %}
{% include "data/timerange_widgets.html" %}
{% if constant_values is defined %}
{% if metadata['axis'] == 'y' %}
{% set units = '%' %}
{% else %}
{% set units = metadata['variable'] | var_to_units %}
{% endif %}
<div class="bin-list table">
  <table>
    <tr>
      <th>Constant Value Forecasts</th>
    </tr>
    {% for cdf_bin in constant_values %}
    <tr>
        <td><a href="{{url_for('data_dashboard.cdf_forecast_view', uuid=cdf_bin['forecast_id'])}}">{{ cdf_bin['constant_value'] }} {{ units }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
