{% extends "data/asset.html" %}
{% block content %}

{% if delete_link is defined and is_allowed('delete') %}
  <a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}
{% if plot is defined %}
<div id="probabilistic-forecast-plot">
</div>
<script>
    Plotly.newPlot(
        'probabilistic-forecast-plot',
        JSON.parse('{{ plot | safe }}')
    ).then(gd => {
        gd.on('plotly_legendclick', () => false)});
    {# removes plotly legend click function, because disabling a trace
       causes the fill to run down to the next trace, which makes for an
       inaccurate representation of the plot
     #}
</script>
<p>For forecasts parameterized symmetrically around the 50th percentile, brighter colors indicate percentiles farther from the 50th percentile and darker colors indicate percentiles closer to the 50th percentile. For forecasts parameterized asymmetrically around the 50th percentile, brighter colors indicate smaller percentiles and darker colors indicate larger percentiles. Use the hover tool to determine the percentile.</p>
{% endif %}
{% include "data/time_widgets.html" %}
{% if constant_values is defined %}
<div class="bin-list table">
  <table>
    <tr>
      <th>Constant Value Forecasts</th>
    </tr>
    {% for cdf_bin in constant_values %}
    <tr>
        <td><a href="{{url_for('data_dashboard.cdf_forecast_view', uuid=cdf_bin['forecast_id'])}}">{{ cdf_bin['constant_value'] }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
