{% extends "dash/data.html" %}
{% block content %}
{% if metadata is defined %}
<div>
<p>
    Below is a list of outage periods for the report. Any forecast submissions
    that fall between the start and end of an outage will not be included in
    report analysis.
</p>
{% if metadata['report_parameters']['exclude_system_outages'] %}
<h3>System Outages</h3>
<p>
    System outages are defined by Solar Forecast Arbiter administrators and
    cannot be edited. If you do not wish to exclude these periods, recreate
    the report and uncheck the <i>exclude system outages</i> option.
</p>
<table class="report-outage-table table">
  <thead class="report-thead">
    <th>Start</th>
    <th>End</th>
  </thead>
  <tbody>
  {% if system_outages |length > 0 %}
    {% for outage in system_outages %}
    <tr>
      <td>{{ outage['start'] }}</td>
      <td>{{ outage['end'] }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
    <td colspan="2">
      No system outages.
    </td>
  {% endif %}
  </tbody>
</table>
{% endif %}

<h3>Report Outages</h3>
<p>
    Report outages may be be added and deleted freely, but this report
    will need to be recomputed to reflect any changes.
</p>
<div class="tools report-outage-tools mt-1">
  {% if is_allowed('update') %}
    <a role="button" class="btn btn-primary btn-sm" href="{{ url_for('forms.report_outage_form',uuid=metadata['report_id']) }}">
      Create new Outage
    </a>
  {% endif %}
</div>
<div>
<table class="report-outage-table table">
  <thead class="report-thead">
    <th>Start</th>
    <th>End</th>
    <th></th>
  </thead>
  <tbody>
  {% if report_outages |length > 0 %}
    {% for outage in report_outages %}
    <tr>
      <td>{{ outage['start'] }}</td>
      <td>{{ outage['end'] }}</td>
      <td><a role="button" class="btn btn-danger btn-sm" href="{{ url_for('forms.delete_report_outage',uuid=metadata['report_id'], outage_id=outage['outage_id']) }}">
      Delete
    </a></td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
    <td colspan="3">
      No outages for this report.
    </td>
  {% endif %}
  </tbody>
</table>
</div>
{% endif %}
{% endblock %}
