{% extends "dash/data.html" %}
{% set page_title = 'User and Permission Administration' %}
{% block content %}
<p>Use the tabs above to view the users, roles and permissions that you have permission
to view. Administrators can find instructions on data sharing in the
<a href="https://solarforecastarbiter.org/documentation/dashboard/administration/">Administration documentation</a>. Administrators may request to add users to their organization by contacting
<a href="mailto:help@solarforecastarbiter.org">help@solarforecastarbiter.org</a></p>
{% endblock %}
