{% import "data/metadata/meta_macro.jinja" as macro %}
{% macro report_metadata(metadata, all_metrics, metric_categories, object_pairs) %}
<ul class="data-metadata-fields col-md-6 col-sm-12">
      {{ macro.li('Name', metadata['report_parameters']['name']) }}
      {{ macro.uuid(metadata['report_id']) }}
      {{ macro.li('Organization', metadata['provider']) }}
      {{ macro.li('Status', metadata['status']) }}
</ul>
<ul class="data-metadata-fields col-md-6 col-sm-12">
  {{ macro.li('Start', metadata['report_parameters']['start'] | format_datetime)}}
  {{ macro.li('End', metadata['report_parameters']['end'] | format_datetime)}}
  {{ macro.li('Forecast Fill Method',
              metadata['report_parameters']['forecast_fill_method']
     )
  }}
  <li class="metadata-field"><span class="data-metadata-label">Metrics:</span>
      <ul>
        {% for metric in metadata['report_parameters']['metrics'] %}
        <li>{{ all_metrics[metric] }}</li>
        {% endfor %}
      </ul>

  </li>
</ul>
<ul class="data-metadata-fields col-md-6 col-sm-12">
  <li class="metadata-field"><span class="data-metadata-label">Metric Categories:</span>
  <ul>
    {% for category in metadata['report_parameters']['categories'] %}
    <li>{{ metric_categories[category]  }}</li>
    {% endfor %}
  </ul>
  </li>
</ul>
{% if metadata['report_parameters']['filters'] %}
<ul class="data-metadata-fields col-md-12">
  <li class="metadata-field"><span class="data-metadata-label">Filters:</span>
      <ul>
        {% for report_filter in metadata['report_parameters']['filters'] %}
          {% for field_name, values in report_filter.items() %}
            <li class="metadata-field"><span class="data-metadata-label">{{ field_name }}: </span>
            {% if field_name == 'quality_flags' %}
               <ul>
                {% for value in values %}
                 <li>{{ value }}</li>
                 {% endfor %}
               </ul>
            {% else %}
            {{ values }}
            {% endif %}
            </li>
          {% endfor %}
          <hr>
        {% endfor %}
      </ul>
  </li>
</ul>
{% endif %}
{% if metadata['report_parameters']['costs'] %}
<ul class="data-metadata-fields col-md-12 col-sm-12">
  <li class="metadata-field"><span class="data-metadata-label">Costs:</span>
      <ul>
        {% for cost in metadata['report_parameters']['costs'] %}
        {{ macro.cost(cost) }}
        {% endfor %}
      </ul>
  </li>
</ul>
{% endif %}
{% if object_pairs is defined %}
<div class="col-md-12 col-sm-12">
<span class="data-metadata-label">Forecasts and Observations:</span>
<ul class="object-pair-list data-metadata-fields">
{# Note that this field is populated from a separate object_pairs variable. NOT
   the 'object_pairs' field of the report metadata. This variable should
   contain all of the available metadata for each object pair. See docstring of
   sfa_dash.blueprints.reports.DeleteReportView._object_pair_template_attributes
   for details.
#}
{% if object_pairs | length == 0 %}
<p>Could not read the metadata of included forecasts and observations.<p>
{% endif %}
{% for pair in object_pairs %}
 <li class='object-pair-wrapper object-pair'>
   <div>
   <ul class="pair-attribute-list">
     <li><b>Forecast: </b>

       {% if pair['forecast'] is not none %}
       <a href="
         {{ url_for('data_dashboard.'+pair['forecast_view'],
                    uuid=pair['forecast']['forecast_id']) }}">
         {{pair['forecast']['name']}}
       </a>
       {% else %}
       Could not read Forecast.
       {% endif %}
     </li>
     {% if pair['observation'] is not none %}
     <li><b>Observation: </b>
       <a href="
         {{url_for('data_dashboard.observation_view',
                   uuid=pair['observation']['observation_id'])}}">
         {{ pair['observation']['name'] }}
       </a>
     </li>
     {% endif %}
     {% if pair['aggregate'] is not none %}
     <li><b>Aggregate: </b>
       <a href="
         {{url_for('data_dashboard.aggregate_view',
                   uuid=pair['aggregate']['aggregate_id'])}}">
         {{pair['aggregate']['name']}}
       </a>
     </li>
     {% endif %}
     {% if pair['reference_forecast'] is not none %}
     <li><b>Reference Forecast: </b>
         <a href="
           {{ url_for('data_dashboard.'+pair['forecast_view'],
                      uuid=pair['forecast']['forecast_id']) }}">
             {{pair['reference_forecast']['name']}}
         </a>
     </li>
     {% endif %}
     <li><b>Uncertainty:</b> {{ pair['uncertainty'] }}</li>
     <li><b>Cost:</b> {{ pair['cost'] }}</li>
   </ul>
   </div>
 </li>
 {% endfor %}
</ul>
</div>
{% endif %}
{% endmacro %}
