{% extends "base.html" %}
{% block dash %}

{% if page_title is defined or breadcrumb is defined %}
<h2 class="page-title">
{{ page_title }}{{ breadcrumb|safe }}
</h2>
{% endif %}

{% include "sections/subnav.html" %}

{% if metadata_block is defined %}
{{ metadata_block | safe }}
{% endif %}

{% if upload_link is defined and is_allowed('write_values') %}
<a role="button" class="btn btn-primary btn-sm" href="{{upload_link}}">Upload data</a>
{% endif %}
{% if delete_link is defined and is_allowed('delete') %}
<a role="button" class="btn btn-danger btn-sm" href="{{ delete_link }}">Delete</a>
{% endif %}

{% include "sections/notifications.html" %}

{% block content %}{% endblock %}
{% endblock %}
