{% extends "dash/data.html" %}
{% block content %}
<div class="tools {{ table_type }}-tools mt-1">
  <input type="text" placeholder="Search" class="search">
  <a role="button" class="btn btn-primary btn-sm" href="/reports/create">Create new Report</a>
</div> 
<table class="reports-table table results">
  <thead>
    <tr>
	  <th scope="col">Name</th>
	  <th scope="col">Created</th>
      <th scope="col">Status</th>
	</tr>
  </thead>
  <tbody>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i>No result</td> 
    </tr>
  {% for report in reports %}
    <tr class="reports-table-row">
        <td class="reports-table-name-column">
          {% if report['status'] == 'complete' %}
          <a href="{{ url_for('data_dashboard.report_view', uuid=report['report_id']) }}">{{ report['name'] }}</a>
          {% else %}
           <a href="{{ url_for('data_dashboard.report_view', uuid=report['report_id']) }}">{{ report['name'] }}</a>

           {# {{ report['name'] }}  #}
           {% endif %}
        </td>
        <td class="reports-table-created-column">{{ report['created_at'] }}</td>
        <td class="reports-table-status-column">{{report['status'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
