{% import "forms/form_macros.jinja" as form %}
{% extends "dash/data.html" %}
{% if form_data is not defined %}
{% set form_data = {} %}
{% endif %}
{% set page_title = 'Create New Report' %}
{% block content %}
{# include common report form parsing utilities #}
<script src="/static/js/timerange-handling.js"></script>
<script src="/static/js/report-form-utilities.js"></script>

{# load form_data for prefilling if it exists #}
<script>var form_data = JSON.parse('{{ form_data | tojson }}');</script>

{# load the report script for handling the specific report type #}
<script src="{{ report_script }}"></script>

{% include "sections/report_menu.html" %}
<form action="{{ url_for('forms.create_'+report_type+'_report') }}" method="post" id="report-form" onSubmit="return report_utils.validateReport();">
  <div class="form-group">
     <div class="form-element full-width">
       <label for="name">Name:</label><br/>
       <div class="input-wrapper">
         <input type="text" class="form-control  name-field" required="" name="name" {{ form.name_validation() }} value="{% if form_data %}{{form_data['report_parameters']['name']}}{% else %}{%endif%}"/>
       </div>
     </div>
     <div class="form-element full-width">
       <label>Timezone</label>
       <div class="input-wrapper">
         <select class="form-control timezone-field" name="timezone">
           <option value="">Infer timezone from selections</option>
           {% for option, option_label in timezone_options.items() %}
           <option value="{{ option }}" {% if form_data and option == form_data['report_parameters']['timezone'] %} selected="selected"{% endif %}>{{ option_label }}</option>
           {% endfor %}
         </select>
       </div>
     </div>
     <div class="form-element full-width">
       {% include "data/time_inputs.html" %}
       <input type="text" hidden required name="start" class="form-control"  required {% if form_data %}value="{{form_data['report_parameters']['period-start']}}"{% endif %}>
       <input type="text" hidden required name="end" class="form-control" required {% if form_data %}value="{{form_data['report_parameters']['period-end']}}"{% endif %}>
     </div>
     {# The following empty list is a target for the javascript found in report-handling.js
        list items are added dynamically on page load #}

        <h5>Observation,{% if forecast_type %} {{ forecast_type }} {% endif %} Forecast pairs</h5>
	 <div class="form-element full-width border" style="border-radius:10px;margin:.5em 1em;">
       <div class="object-pair-list">
         <div class="empty-reports-list alert alert-warning">No Pairs Selected</div>
       </div>
       <div class="object-pair-control">
       </div>
	 </div>

     {% block metrics_field %}
     <div class="form-element">
     <label>Metrics</label><br>
       {% if excluded_metrics is not defined %}
         {% set excluded_metrics = [] %}
       {%endif %}
       {% if default_metrics is not defined %}
         {% set default_metrics = [] %}
       {%endif %}
       {% for metric, label in metric_options.items() %}
         {% if metric not in excluded_metrics %}
           <input type="checkbox" name="metrics" value="{{ metric }}" {% if form_data %}{% if metric in form_data['report_parameters']['metrics'] %}checked{% endif %}{% elif metric in default_metrics  %}checked{% endif %}>
           <a href="https://solarforecastarbiter.org/metrics/#{{ metric |replace('^', '') }}" target="_blank"> {{ label }}</a><br/>
         {% endif %}
       {% endfor %}
     </div>
     {% endblock %}
     {% block category_field %}
     <div class="form-element">
     <label>Categories</label></br>
     {% for category, label in metric_categories.items() %}
     <input type="checkbox" name="categories" value="{{ category }}" {% if form_data %}{% if category in form_data['report_parameters']['categories'] %}checked{% else %}{% endif %}{% else %}{% if category in default_categories %}checked{% endif %}{% endif %}> {{ label }}<br/>
     {% endfor %}
     </div>
     {% endblock %}

     {% if report_type == 'deterministic' %}
     <div id='cost-block' class="collapse form-element full-width">
     <label>Cost Parameters</label>
     <p>Cost parameters will allow you to calculate the cost of forecast
     errors. Please see the <a target="_blank" href="https://solarforecastarbiter-core.readthedocs.io/en/latest/cost.html">Solar Forecast Arbiter core documentation on cost</a>
     for an in-depth explanation of these parameters.
     </p>
     <fieldset id="cost-container" disabled>
     {# Container to act as target for inserting cost metrics widget #}
     </fieldset>
     <hr>
     </div>
     {% endif %}

     {% block quality_flag_field %}
      <div class="form-element full-width">
       <label>Quality Flag Filters</label><br>
       <p>Observation data flagged with any of the checked quality flags is excluded from analysis. The corresponding forecast data is also excluded.</p>
       <ul class="quality-filter-list">
         <li class="no-quality-filters-warning qf-filter-container">No quality filters applied</li>
       </ul>
       
     <a role="button" id="cost-param-collapse" data-toggle="collapse" data-target="#quality-flag-container" class="collapser-button collapsed" aria-expanded="true">Add Quality flag filter</a>
     <fieldset id="quality-flag-container" class="collapse">
     </fieldset>
      
     </div>
     {% endblock %}

     {% block forecast_fill_method_field %}
     <div class="form-element full-width">
       <label>Forecast Fill Method</label><br>
       {% if form_data %}
       {% set selected_fill_method = form_data['report_parameters'].get('forecast_fill_method', 'drop') %}
       {% else %}
       {% set selected_fill_method = 'drop' %}
       {% endif %}
       All missing or NaN forecast intervals should be:<br>
       <input name="forecast_fill_method" type="radio" value="drop" {% if selected_fill_method == 'drop' %}checked{% endif %}> dropped from the analysis<br>
       <input name="forecast_fill_method" type="radio" value="forward" {% if selected_fill_method == 'forward' %}checked{% endif %}> filled forward with last valid forecast value<br>
       <input name="forecast_fill_method" type="radio" value="provided" {% if selected_fill_method | is_number %}checked{% endif %}> filled with
       <input name="provided_forecast_fill_method" type="number" step="any" required {% if selected_fill_method | is_number %}value="{{selected_fill_method}}"{% else %}disabled{% endif %}>
     </div>
     {% endblock %}
    {{ form.token() }}
  </div>
</form>
<ul id="form-errors">
</ul>
<button type="submit" form="report-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
