{% extends "dash/data.html" %}
{# {% set sidebar = True %} #}
{% set page_title = 'Create New Forecast' %}
{% block content %}
{{ metadata | safe }}
<form action="/create/site" method="post" id="some-form">
  <div class="form-group">
	<div class="form-element">
	  <label>Name</label>
  	  <input required name="name" type="text" class="form-control name-field" placeholder="Name for the Forecast.">
	</div>
	<div class="form-element">
	  <label>Variable</label>
  	  <select required name="variable" class="form-control">
	    <option value="surface-temperature">Surface Temperature (C)</option>
		<option value="surface-wind-speed">Surface Wind Speed (m/s)</option>
		<option value="ghi">Global Horizontal Irradiance (W/m^2)</option>
		<option value="dni">Direct Normal Irradiance (W/m^2)</option>
		<option value="dhi">Diffuse Horizontal Irradiance (W/m^2)</option>
		<option value="poa">Plane of Array Irradiance (W/m^2)</option>
	    <option value="rh">Relative Humidity (%)</option>
        <option value="ac-power">AC Power (MW)</option>
        <option value="dc-power">DC Power(MW)</option>
	  </select>
	</div>
	<div class="form-element">
	  <span>
	    <label>Issue Time</label><br/>
  	    <select required name="issue-time-hours" class="form-control time-field issue-time-field issue-time-hours" title="Issue time Hours"> 
	    	{% for i in range(0,24) %}
	        <option value="{{ i }}">{{ '%02d' % i }}</option>
	      {% endfor %}
	    </select>:
	    <select required name="issue-time-minues" class="form-control time-field issue-time-field issue-time-minutes">
	      {% for i in range(0,60) %}
	        <option value="{{ i }}">{{ '%02d' % i }}</option>
	      {% endfor %}
	    </select>
		UTC
	  </span>
	  <div>
	  </div>
	</div>
    <div class="form-element">
	  <label>Lead Time to start</label><br/>
  	  <input required name="lead-time-number" type="number" step="0.01" min="0" class="form-control time-field lead-time-field">
	  <span class="help-text">The difference between issue time and the start of the first forecast interval, e.g. 1 hour.</span>
	  <select required name="lead-time-units" class="form-control time-field">
	  	<option>Seconds</option>
        <option>Minutes</option>
        <option>Hours</option>
        <option>Days</option>
	  </select>
	</div>
	<div class="form-element">
	  <label>Intervals per Submission</label>
  	  <input type="number" name="intervals-per-submission" class="form-control intervals-per-field">
	</div>
	<div class="form-element">
	  <label>Interval Duration</label><br/>
  	  <input type="number" name="interval-number" step="0.01" min="0" class="form-control time-field interval-duration-field">
	  <span class="help-text">The length of time that each data point represents, e.g. 5 minutes, 1 hour.</span>
	  <select required name="interval-units" class="form-control time-field">
	  	<option value="seconds">Seconds</option>
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
	  </select>
	</div>
	<div class="form-element">
	  <label>Interval Label</label>
  	  <select name="interval-label" class="form-control interval-label-field">
	    <option value="start">Start</option>
		<option value="end">End</option>
	  </select>
	  <span class="help-text help-text-top">Indicates if a time labels the start or the end of an interval.</span>
	</div>
	<div class="form-element">
	  <label>Value Type</label>
	  <select name="value-type" class="form-control value-type-field">
	    <option value="mean">Mean</option>
		<option value="min">Min</option>
		<option value="max">Max</option>
		<option value="median">Median</option>
		<option value="percentile">Percentile</option>
		<option value="instantaneous">Instantaneous</option>
	  </select>
	</div>
	<div class="form-element full-width">
	  <label>Extra Parameters</label>
      <textarea cols="40" rows="5" class="form-control extra-parameters-field" placeholder="This field will store any ASCII text. We recommend using it to store other parameters you have collected in a format such as YAML or JSON."></textarea>
	</div>
  </div>
</form>
<button type="submit" form="some-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
