{% extends "dash/data.html" %}
{% import "forms/form_macros.jinja" as form %}
{% set page_title = 'Create New Forecast' %}
{% block content %}
{{ metadata | safe }}
{% include "forms/sections/notifications.html" %}
{% if form_data is not defined %}
{% set form_data = {} %}
{% endif %}
<form action="/forecasts/create" method="get" id="some-form">
  <div class="form-group">
	<div class="form-element">
      {{ form.input('Name', 'text', 'name', 'Name for the Forecast',
                    required=True, form_data=form_data) }}
	</div>
	<div class="form-element">
      {{ form.select('Variable', 'variable',
                     {"ghi":"Global Horizontal Irradiance (W/m^2)",
		              "dni":"Direct Normal Irradiance (W/m^2)",
		              "dhi":"Diffuse Horizontal Irradiance (W/m^2)",
		              "poa":"Plane of Array Irradiance (W/m^2)",
	                  "rh":"Relative Humidity (%)",
                      "ac-power":"AC Power (MW)",
                      "dc-power":"DC Power(MW)",
		              "surface-temperature":"Surface Temperature (C)",
		              "surface-wind-speed":"Surface Wind Speed (m/s)"},
                      form_data=form_data) }}
	</div>
	<div class="form-element">
	  <span>
	    <label>Issue time of day</label><br/>
  	    <select required name="issue-time-hours" class="form-control time-field issue-time-field issue-time-hours" title="Issue time of day Hours"> 
	    	{% for i in range(0,24) %}
	        <option value="{{ i }}">{{ '%02d' % i }}</option>
	      {% endfor %}
	    </select>:
	    <select required name="issue-time-minutes" class="form-control time-field issue-time-field issue-time-minutes" title="Issue time of day minutes">
	      {% for i in range(0,60) %}
	        <option value="{{ i }}">{{ '%02d' % i }}</option>
	      {% endfor %}
	    </select>
		{{ timezone }}
	  </span>
	  <div>
	  </div>
	</div>
    <div class="form-element">
	  <label>Lead time to start</label><br/>
  	  <input required name="lead-time-number" type="number" step="0.01" min="0" class="form-control time-field lead-time-field">
	  <span class="help-text">The difference between issue time and the start of the first forecast interval, e.g. 1 hour.</span>
	  <select required name="lead-time-units" class="form-control time-field">
	  	<option>Seconds</option>
        <option>Minutes</option>
        <option>Hours</option>
        <option>Days</option>
	  </select>
	</div>
	<div class="form-element">
	  <label>Run length/Issue frequency</label>
	  <input type="number" name="interval-number" step="0.01" min="0" class="form-control time-field interval-duration-field">
	  <span class="help-text">The total length of a single issued forecast run, e.g. 1 hour. To enforce a continuous, non-overlapping sequence, this is equal to the forecast run issue frequency.</span>
	  <select required name="interval-units" class="form-control time-field">
	  	<option value="seconds">Seconds</option>
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
	  </select>
	</div>
	<div class="form-element">
	  <label>Interval length </label><br/>
  	  <input type="number" name="interval-number" step="0.01" min="0" class="form-control time-field interval-duration-field">
	  <span class="help-text">The length of time that each data point represents, e.g. 5 minutes, 1 hour.</span>
	  <select required name="interval-units" class="form-control time-field">
	  	<option value="seconds">Seconds</option>
        <option value="minutes">Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
	  </select>
	</div>
	<div class="form-element">
	  <label>Interval label</label>
  	  <select name="interval-label" class="form-control interval-label-field">
	    <option value="start">beginning</option>
		<option value="ending">ending</option>
		<option value="instant">instant</option>
	  </select>
	  <span class="help-text help-text-top">Indicates if a time labels the start or the end of an interval.</span>
	</div>
	<div class="form-element">
	  <label>Value type</label>
	  <select name="value-type" class="form-control value-type-field">
	    <option value="mean">Mean</option>
		<option value="min">Min</option>
		<option value="max">Max</option>
		<option value="median">Median</option>
		<option value="percentile">Percentile</option>
		<option value="instantaneous">Instantaneous</option>
	  </select>
	</div>
	<div class="form-element full-width">
	  <label>Extra Parameters</label>
      <textarea cols="40" rows="5" class="form-control extra-parameters-field" placeholder="This field will store any ASCII text. We recommend using it to store other parameters you have collected in a format such as YAML or JSON."></textarea>
	</div>
  </div>
</form>
<button type="submit" form="some-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
