{% import "forms/form_macros.jinja" as form %}
{% extends "dash/data.html" %}
{% block content %}
{% if metadata is defined %}
{% include "data/metadata/report_metadata_short.html" %}
<a class="btn btn-primary btn-sm" href="{{ url_for('data_dashboard.report_outage_view', uuid=metadata['report_id']) }}">
  Back to report outages
</a>
<h3>Report Outage Specification</h3>
<p>
  Any forecast submissions that fall on or between between start and end will
  not be included in report analysis.
</p>
<form action="" method="post" enctype='{{ form_enc }}' id="report-outage-form">
  <div class="form-element full-width">
    {% include "data/time_inputs.html" %}
    <input type="text" hidden required name="start" class="form-control"  required {% if form_data %}value="{{form_data['start']}}"{% endif %}>
    <input type="text" hidden required name="end" class="form-control" required {% if form_data %}value="{{form_data['end']}}"{% endif %}>
  </div>
{{ form.token() }}
<button type="submit" form="report-outage-form" value="Submit" class="btn btn-primary">Submit</button>
</form>
<script src="/static/js/timerange-handling.js"></script>
{% endif %}
{% endblock %}
