{% extends "dash/data.html" %}
{# {% set sidebar = True %} #}
{% set page_title = 'Create New Site' %}
{% block content %}
{% if errors is defined %}
<div class="errors">
  <ul class="error-list">
      {% for input, error in errors.items() %}
      <li class="error"><p><b>{{ input }}: </b>{{ error | join(', ') }}</p></li>
      {% endfor %}
  </ul>
</div>
{% endif %}
<form action="/sites/create" method="post" id="some-form">
  <div class="form-group">
	<div class="form-element full-width">
	  <label>Name</label>
  	  <input required name="name" type="text" class="form-control name-field" placeholder="Name of the Site">
	</div>
	<div class="form-element">
	  <label>Latitude</label>
  	  <input required name="latitude" type="text" class="form-control latitude-field"> 
	  <span class="help-text">Latitude in decimal degrees North of the equator</span>
	</div>
	<div class="form-element">
	  <label>Longitude</label>
  	  <input required name="longitude" type="text" class="form-control longitude-field">
	  <span class="help-text">Longitude in decimal degrees East of the prime meridian</span>
	</div>
    <div class="form-element">
	  <label>Elevation</label>
  	  <input required name="elevation" type="text" class="form-control elevation-field">
	  <span class="help-text">Elevation in meters above sea level</span>
	</div>
    <div class="form-element">
	  <label>Timezone</label>
  	  <select required name="timezone" class="form-control">
	  	<option value="america/los-angeles">America/Los Angeles</option>
	  </select>
	</div>
	<div class="form-element full-width">
	  <label>Site Type</label><br/>
      <input required type="radio" name="site_type" data-toggle="collapse" data-target=".pv-model-params.show" value="weather-station" checked/>Weather Station
	  <input type="radio" name="site-type" data-toggle="collapse" data-target=".pv-model-params:not(.show)" value="power-plant"/>Power Plant
	</div>
	<div class="pv-model-params collapse">
	  <fieldset>
	    <legend>PV Modeling Parameters</legend>
	    <div class="form-element">
	      <label>AC Capacity</label>
  	      <input type="text" name="ac_capacity" class="form-control ac-capacity-field" placeholder="" value="">
		  <span class="help-text">Nameplate AC Power rating in megawatts</span>
	    </div>
	    <div class="form-element">
          <label>DC Power</label>
          <input type="text" name="dc_capacity" class="form-control dc-capacity-field">
		  <span class="help-text">Nameplate DC Power Rating in megawatts</span>
        </div>
	  	<div class="form-element">
	        <label>Temperature Coefficient</label>
  	        <input type="text" name="gamma-pdc" class="form-control gamma-pdc-field">
			<span class="help-text">Temperature coefficient of DC power in units of 1/C</span>
	    </div>
	    <div class="form-element full-width">
          <label>Tracking Type</label>
		  <input type="radio" name="tracking-type" value="fixed" checked/>Fixed
		  <input type="radio" name="tracking-type" value="single-axis"/>Single Axis
        </div>
	  	<div class="form-element">
	      <label>Surface Tilt</label>
  	      <input type="text" name="surface-tilt" class="form-control surface-tilt-field">
		  <span class="help-text">Tilt from horizontal of a fixed tilt system.</span>
	    </div>
	    <div class="form-element">
          <label>Surface Azimuth</label>
          <input type="text" name="surface-azimuth" class="form-control surface-azimuth-field" placeholder="">
		  <span class="help-text">Azimuth angle of a fixed tilt system.</span>
        </div>
	  </fieldset>
	</div>
	<div class="form-element">
	  <label>Network (Optional)</label>
  	  <input type="text" name="network" class="form-control network-field" placeholder="Measurement network name">
	</div>
	<div class="form-element full-width">
	  <label>Extra Parameters</label>
  	  <textarea name="extra-parameters" cols="40" rows="5" class="form-control extra-parameters-field" placeholder="This field will store any ASCII text. We recommend using it to store other parameters you have collected in a format such as YAML or JSON."></textarea>
	</div>

  </div>
</form>
<button type="submit" form="some-form" value="Submit" class="btn btn-primary">Submit</button>
{% endblock %}
